TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
VIRUSTOTAL_API_KEY=YOUR_VIRUSTOTAL_API_KEY_HERE

# ដាក់ Telegram User ID របស់ Admin (អាចដាក់ច្រើន ID ដោយខណ្ឌដោយក្បៀស ",")
SUPER_ADMIN_ID=123456789

# ជម្រើសទណ្ឌកម្ម: MUTE ឬ KICK
PUNISHMENT_MODE=MUTE
MUTE_DURATION_HOURS=24
